<!DOCTYPE html>
<!--This is a comment. Comments are not displayed in the browser-->
<html>
    <head>
<!--El elemento "head" es un contenedor de metadatos y se coloca entre la etiqueta <html> 
y la etiqueta <body>, importante: no confundir con HEADER !!! 
Los siguientes elementos pueden ir dentro del elemento:<head>
    <title>     (requerido en todos los documentos HTML, es el nombre que se ve en la pestaña del navegador)
    <style>     (La etiqueta se utiliza para definir información de estilo (CSS) para un documento.)
    <base>      (La etiqueta especifica la dirección URL base y/o el destino de todas las direcciones URL relativas de un documento)
    <link>      (La etiqueta define la relación entre el documento actual y un recurso externo)
    <meta>      (La etiqueta define metadatos sobre un documento HTML. Los metadatos son datos (información) sobre datos)
    <script>    (La etiqueta se utiliza para incrustar un script del lado del cliente (JavaScript).
                El elemento contiene instrucciones de scripting o apunta a un archivo de script externo 
                a través del atributo src.) 
    <noscript>  (La etiqueta define un contenido alternativo que se mostrará a los usuarios que hayan deshabilitado scripts 
                en su navegador o que tengan un navegador que no admita scripts. se puede usar en Head o body)--> 
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
<!--Trabajamos en documentos HTML web responsive, por eso necesitamos una etiqueta "meta viewport"
que se encarga de decirle al navegador que nosotros queremos que el contenido "content" se adapte al ancho
del dispositivo "width=device-width" en el dispositivo que ahora estamos-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--tenemos vinculada una hoja de estilo de googlefont y 
    nuestra propia hoja de estilos que esta en la carpeta CSS y se llama style.css
    en este curso no recomendaron que trabajemos con el archivo de normalización, por eso no esta
    entre las siguientes 3 líneas de links y la de font-awesome es la linea de fuentes de iconos-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">

    </head>
<!--La etiqueta (tag) "body" define el cuerpo del documento. El elemento contiene todo el contenido de un 
documento HTML, como encabezados, párrafos, imágenes, hipervínculos, tablas, listas, etc.--> 
    <body>
<!--El elemento <header> representa un contenedor para contenido introductorio o un conjunto de vínculos de navegación.
    Un elemento normalmente contiene: uno o más elementos de encabezado (<h1> - <h6>), logotipo o icono, información de autoría. 
    Nota: Puede tener varios elementos en un documento HTML. Sin embargo, no se puede colocar dentro de un <footer>, <address> u otros elementos.
        ejemplo de un header:
    <header>
        <h1>Main page heading here</h1>
        <p>Posted by Fernando Riedel</p>
    </header>-->         
        <header> 
                <div class="top-header">
                <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
<!--        <div class="search-bar">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fas fa-search"></i></button>
            </div>-->
<!--La etiqueta "div" define una división o una sección en un documento HTML. Tiene un comienzo y fin
    La etiqueta se utiliza como "contenedor" para elementos HTML, que luego se diseña con CSS o se 
    manipula con JavaScript--> 
            </div>
<!--creamos una sección con la etiqueta "div" y a esa "etiqueta" le damos una "clase" que llamamos "form"
    luego veremos que vamos al archivo CSS y vamos a declarar form (aprox. linea 51 del style.css)
    La etiqueta se diseña fácilmente mediante el atributo "class" o "id".-->
                <div class="form" action="#" method="GET"> 
<!--La etiqueta <input> especifica un campo de entrada donde el usuario puede introducir datos.
El elemento se puede mostrar de varias maneras, dependiendo del atributo type
Los diferentes tipos de entrada son los siguientes: <input type="radio"><input type="file">
<input type="password"> <input type="submit" value="Submit"> ¡Mira el atributo type para ver ejemplos para cada tipo de entrada!
https://www.w3schools.com/tags/att_input_type.asp --> 
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
<!--acá--> 
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
<!--acá--> 
            <nav>
<!--acá--> 
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
<!--acá--> 
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
<!--acá--> 
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
<!--acá--> 
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
<!--acá--> 
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
<!--acá--> 
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
<!--acá--> 
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
<!--acá--> 
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
<!--acá--> 
                    </article>
                </div>
            </section>
<!--acá--> 
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
<!--acá--> 
        <footer>
            
        </footer>
        
    </body>
<!--Terminó el body y lo que se vé en el viewports--> 
</html>
