<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                <img src="images/logo-mercado-liebre.svg" width=100% alt="Logo de Mercado Liebre">
                </a>
            </div>

            <div class="form" action="#" method="GET">
            <input class="input-search" type="text" placeholder="Buscar productos, marcas y más">
            <button class="button-search"><i class="fa fa-search"></i></button>
            </div>

            <p class="centro"><i class="fas fa-hand-holding-usd">
            </i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main class="login">
        <form action="/" method="GET">
            <div class="box">
                <label for="user"></label>
                <input class="input" type="text" name="user" id="user" placeholder="Nombre de usuario" required="" />
            </div>
            <div class="box">
                <label for="password"></label>
                <input class="input" type="password" name="password" id="password" placeholder="Elegi tu Contraseña"
                    required="" />
            </div>
            <div class="box">
                <button class="button" type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <br>    
        <h4>Pie de Página de Mercado Liebre - Proximamente</h4>
        <br>
    </footer>
</body>

</html>