/*IMPORTANTE: Como este proyecto se construyo dentro de un proceso de aprendizaje 
    verán que tiene incorporadas una serie de notas a manera de comentarios explicando 
    brevemente las funciones y conceptos más importantes de cada línea de código utilizada, 
    a manera de tutorial*/

/*CSS significa hojas de estilo en cascada por sus siglas en inglés*/
/*Comienza siempre con *{ y márgenes y padding o relleno en cero pixeles. El elemento "box-sizing: border-box" evita que un elemento amplie su tamaño independientemente
que le agreguemos relleno=padding y/o borde=border, es decir que se lo descuenta al elemento que declaramos
y no lo suma para que no supere las medidas máximas que necesitamos o definimos.*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*La etiqueta "body" define el cuerpo del documento
el elemento contiene todo el contenido de un documento HTML, como encabezados, párrafos, imágenes, hipervínculos
tablas, listas, etc.*/
body {
    font-family: "Roboto", "sans-serif";
    background-color: #ebebeb;
}

/*declaramos el tamaño de la tipografía de los titulos h3*/
h3 {
    font-size: 24px;
}

/*declaramos tamaño de la letra para los párrafos*/
p {
    font-size: 12px;
}

/*Le damos estilo a la clase del div top.header*/
div.top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

/*referencia a título Comprar en cuotas y sin tarjeta de crédito con el ícono*/
div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/*Le damos el color de fondo amarillo al encabezado sobre el cual van el logo e Mercado Liebre y otros textos*/
header {
    background-color: #eac926;
}

/*Incorporamos en la Clase 14 un formulario al cual le estamos dando formato utilizando un */
header div.logo,
header .form {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

/*clase 14: achica el área del buscador */
/*fondos y bordes para las clases form y imput, button y busca*/
header .form {
    display: flex;
    align-items: stretch;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 50%;
}

header .input-search {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
}

header .button-search {
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: white;

}

header .centro {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}

/*Estilos para el nav*/
header nav {
    font-size: 12px;
    padding: 20px;
}

/*hacemos que no se vean las viñetas de la etiqueta utilizada en el html ul li*/
header ul li {
    list-style-type: none;
}

/*le damos estilo a los contenidos dentro de las etiquetas ul li y a (para enlaces)*/
header ul li a {
    text-decoration: none;
    color: #000;
}

/* Centrado para el main del la clase register del register.html */
.register {
    display: flex;
    justify-content: center
}

/*le doy estilo al burger-menu, lo centro con respecto al bloque*/
div.burger-menu {
    text-align: center;
}

/* estilos */
div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/*Clase 14: incorporamos todo lo relacionado a flexbox */
div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

/*dando estilo -tamaño de fonts y dimensiones- al precio de los productos en ML*/
.price {
    font-size: 18px;
    width: 30%;
}

/*dando estilo a los descuentos, en este caso ajustando ancho.*/
.discount {
    width: 70%;
}

/*comentar*/
.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

/*comentar*/
h3,
.description {
    color: #666;
}

/*comentar*/
.description {
    display: none;
    margin-top: 20px;
}

/*comentar*/
section.banner img {
    width: 100%;
}

/*comentar*/
main {
    width: 90%;
    margin: 0 auto;
}

/*comentar*/
main section article {
    background-color: #fff;
    margin: 10px 0px;
}

/*comentar*/
main section article img {
    width: 100%;
}

/*comentar*/
main section article i,
.discount {
    color: #39b54a;
}

/*comentar*/
main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/*comentar*/
main section h3 {
    margin: 20px 0px;
}

/*clase 14: incorporamos display flex y derivados*/
article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*comentar*/
@media (min-width: 361px) {
    main section article .description {
        display: block;
    }

    /*comentar*/
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

div.top-header {
    display: flex;
    flex-wrap: wrap;

    /*comentar*/
    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    /*comentar*/
    main section div.products article {
        width: 45%;

    }

    .price,
    .discount {
        width: 50%;
    }

    /*modeliza iPad (Tablet 758x1024) a partir de 758 dejamos logo, barra de busqueda y compre en cuotas
en una misma linea de bloques nowrap*/
    @media (min-width: 758px) {

        div .top-header {
            display: flex;
            flex-wrap: wrap;
        }

        div .logo {
            width: 30%;
        }

        div .form {
            width: 30%;
        }

        div .centro {
            width: 40%;
        }

        main section div.products article {
            width: 22%;

        }
    }